---
import Layout from '../layouts/Layout.astro';
import Login from '../components/Login.astro';
import Artists from "../components/Artists.astro" 
import Difficulty from '../components/Difficulty.astro';
import Quiz from '../components/Quiz.astro';
import Result from '../components/Result.astro';
import EndResult from '../components/EndResult.astro';
---

<Layout title="The Spotify Fan Destroyer">
	<main>
		<Login/>
		<Artists></Artists>
		<Difficulty></Difficulty>
		<Quiz></Quiz>
		<Result></Result>
		<EndResult></EndResult>
	</main>
</Layout>

<style>
</style>
