---
// export interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---
<script>


</script>
<div class="artist-section">
	<h1>So you think you're a fan, huh?</h1>
	<input type="text"/>
	<div class="artists-container"></div>
</div>

<style>
	.artist-section{
		display: none;
	}

</style>
