---
// export interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---
<script>


</script>
<div class="artist-section">
	<div class="artist-wrapper">
		<span class="header-emoji">🤨</span>
		<h1>How big of a fan <br><span>are you really?</span></h1>
		<input type="text" class="search" autofocus/>
		<div class="artists-container"></div>
	</div>
</div>

<style>
	.artist-section{
		display: none;
	}
	.artist-wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 4rem;
		padding: 4rem 2rem 0;
	}
	.artists-container{
		display: grid;
		gap: 0.75rem;
		width: 100%;
		/* position: relative; */
		padding-bottom: 10vw;
		overflow: scroll;
		max-height: 100%;
	}

	.artists-container::after{
		content: " ";
		position: fixed;
		z-index: 1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 10rem;
		background: linear-gradient(rgba(0,0,0,0), rgba(10,10,10,1));
		pointer-events: none;
	}

	input.search{
		height: 3.5rem;
		display: flex;
		align-items: center;
		background: var(--black);
		color: var(--white);
		padding: 0 1rem;
		border: 2px solid var(--black-hover);
		border-radius: 0.375rem;
		width: 35%;
		margin-bottom: 2.5rem;
		
	}
	input.search:focus{
		/* outline: -webkit-focus-ring-color auto 0px!important; */
		outline: none;
		/* outline: 2px auto red; */
		border: 2px solid var(--primary);
		/* box-shadow: 2px 2px 2px red; */
	}

	@media (min-width: 768px){
		.artists-container{
			grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
		}
	}

</style>