---
// export interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---
<script>


</script>
<div class="difficulty-section">
	<h1>What kind of <span data-name="artist"></span> fan are you?</h1>
	<div class="difficulty-contianer">
		<button data-length="5" class="difficulty-button">Easy</button>
		<button data-length="3" class="difficulty-button">Medium</button>
		<button data-length="1" class="difficulty-button">Hard</button>
	</div>
</div>

<style>
	.difficulty-section {
		display: none;
	}
</style>
