
<div class="end-section">
	<div class="end-wrapper">
		<span class="header-emoji end-emoji"></span>
		<h1 class="final-message"></h1>
		<div class="score-card">
			<span class="final-score"></span>
		</div>
		<button class="restart-button">Start over</button> 
	</div>
</div>

<style>
.end-section {
	display: none;
}
.end-wrapper{
	display: flex;
	min-height: 100vh;
	display: flex;	
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -10vh;
	padding: 2rem;;
}	
.final-score{
	margin-bottom: 1rem;
}
</style>
