
<div class="end-section">
	<div class="end-wrapper">
		<span class="header-emoji end-emoji"></span>
		<h1 class="final-message"></h1>
		<div class="score-card">
			<span class="final-score"></span>
			<div class="score-list"></div>
		</div>
		<button class="restart-button">
			Start over
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M12 5V1L7 6L12 11V7C15.31 7 18 9.69 18 13C18 16.31 15.31 19 12 19C8.69 19 6 16.31 6 13H4C4 17.42 7.58 21 12 21C16.42 21 20 17.42 20 13C20 8.58 16.42 5 12 5Z" fill="#181818"/>
			</svg>
		</button> 
		<div class="social-wrapper">
			<span class="social-p">Challenge your friends to the same test </span>
			<div class="social-button-wrapper">
				<a href="#" aria-label="Copy link to clipboard" class="social-button" data-name="copy-to-clipboard">
					<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9.99805 13.4764C10.4275 14.0505 10.9754 14.5256 11.6046 14.8694C12.2339 15.2131 12.9296 15.4175 13.6448 15.4688C14.36 15.52 15.0778 15.4168 15.7496 15.1662C16.4213 14.9156 17.0314 14.5235 17.5383 14.0164L20.5384 11.0163C21.4492 10.0733 21.9532 8.81021 21.9418 7.49918C21.9304 6.18816 21.4045 4.93406 20.4775 4.00699C19.5504 3.07992 18.2963 2.55406 16.9853 2.54267C15.6742 2.53128 14.4112 3.03526 13.4682 3.94608L11.7481 5.65613" stroke="white" stroke-width="1.95006" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M13.9996 11.4773C13.5701 10.9032 13.0222 10.4281 12.393 10.0844C11.7638 9.74059 11.068 9.53616 10.3528 9.48494C9.63766 9.43372 8.91985 9.53691 8.24807 9.7875C7.57629 10.0381 6.96626 10.4302 6.45936 10.9373L3.45927 13.9374C2.54845 14.8805 2.04446 16.1435 2.05585 17.4545C2.06725 18.7655 2.59311 20.0196 3.52018 20.9467C4.44724 21.8738 5.70134 22.3996 7.01237 22.411C8.32339 22.4224 9.58644 21.9184 10.5295 21.0076L12.2395 19.2976" stroke="white" stroke-width="1.95006" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>										
				</a>
				<a href="https://api.whatsapp.com/send?text=The Spotify Fan Destroyer%0ahttps://spotify-fan-destroyer.netlify.app/" aria-label="Share on whatsapp" class="social-button">
					<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_892_2313)">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M11.9965 0.476074C5.38113 0.476074 0 5.85871 0 12.476C0 15.1003 0.846321 17.5341 2.285 19.5096L0.789795 23.968L5.40222 22.4939C7.2993 23.7496 9.56321 24.4761 12.0035 24.4761C18.6189 24.4761 24 19.0932 24 12.4762C24 5.85892 18.6189 0.476273 12.0035 0.476273H11.9965V0.476074ZM8.64642 6.57149C8.41374 6.01421 8.23739 5.99311 7.88489 5.97878C7.76486 5.97181 7.63111 5.96484 7.48282 5.96484C7.02422 5.96484 6.54473 6.09884 6.25552 6.3951C5.90302 6.75487 5.02841 7.59426 5.02841 9.31567C5.02841 11.0371 6.28379 12.7019 6.45297 12.9349C6.62932 13.1674 8.90039 16.7512 12.4266 18.2118C15.1842 19.3547 16.0025 19.2487 16.63 19.1147C17.5468 18.9172 18.6965 18.2397 18.9857 17.4216C19.2749 16.6031 19.2749 15.9047 19.1901 15.7565C19.1055 15.6084 18.8726 15.524 18.5201 15.3474C18.1676 15.171 16.4537 14.3244 16.1292 14.2115C15.8118 14.0917 15.5086 14.1341 15.269 14.4727C14.9304 14.9454 14.599 15.4252 14.3309 15.7143C14.1193 15.9401 13.7736 15.9684 13.4846 15.8483C13.0966 15.6862 12.0107 15.305 10.6705 14.1128C9.63369 13.1887 8.92848 12.0389 8.72406 11.6933C8.51944 11.3407 8.70294 11.1358 8.86496 10.9455C9.04131 10.7267 9.21052 10.5716 9.38687 10.3669C9.56322 10.1624 9.66195 10.0565 9.77481 9.8166C9.89483 9.58386 9.81003 9.34394 9.72543 9.16754C9.64084 8.99114 8.93563 7.26973 8.64642 6.57149Z" fill="white"/>
						</g>
						<defs>
						<clipPath id="clip0_892_2313">
						<rect width="24" height="24" fill="white" transform="translate(0 0.476074)"/>
						</clipPath>
						</defs>
					</svg>								
				</a>
			</div>
		</div>
	</div>
</div>

<style>
.end-section {
	display: none;
	padding: var(--vertical-padding) var(--side-padding);
}
.end-wrapper{
	display: flex;
	/* min-height: 90vh; */
	display: flex;	
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* padding: 2rem; */
}	
.score-card{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.score-list{
	margin: 1rem 0;
}

.social-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	padding: 2rem;
	background: var(--black);
	border-radius: 0.5rem;
	border: 2px solid var(--black-selected);
	margin-top: 2rem;
	font-weight: 700;

}
.social-button{
	background: rgba(255,255,255,0.05);
	border-radius: 0.375rem;
	height: 2.5rem;
	width: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-button >*{
	pointer-events: none;
}
.social-button-wrapper{
	display: flex;
	gap: 2rem;
}
.social-button:hover{
	background: rgba(255,255,255,0.1);
}
</style>
<style is:global>

	.final-score{
		margin-bottom: 1rem;
	}
	.score-list-item{
		height: 4rem;
		border: 2px solid var(--black-selected);
		border-radius: 0.5rem;
		display: flex;
		gap: 1rem;
		align-items: center;
		overflow: hidden;
		position: relative;
		padding-right: 1rem;
		margin-bottom:0.5rem;
		text-decoration: none;
	}
	.score-list-image{
		height: 100%;
		aspect-ratio: 1;
	}
	.score-list-title{
		flex: 1 0;
		text-align: left;
	}
	.final-score{
		margin-bottom: 1rem;
	}
</style>
