
<div class="end-section">
	<h1 class="final-message"></h1>
	<div class="score-card">
		<span class="final-score"></span>
	</div>
	<button class="restart-button">Start over</button> 
</div>

<style>
.end-section {
	display: none;
}	
</style>
