<script>
//@ts-nocheck
// Cover Animation	
// Only run on desktop
if (window.matchMedia('(min-width: 768px)').matches) {
	let mouseOverContainer = document.querySelector("body");
	let animated = document.querySelectorAll(".emoji");

	function transforms(x, y, el) {
		let rotation= y/window.innerHeight * 20
		let xShift= x/window.innerWidth * 100
		let yShift= y/window.innerHeight * 100
		return "rotateZ("+ rotation + "deg) translateX(" + xShift + "%) translateY(" + yShift + "%)";
	};

	function transformElement(el, x, y) {
		el.style.transform  = transforms(x, y, el);
	}


	mouseOverContainer.onmousemove = function(e) {
		let x = e.clientX;
		let y = e.clientY;
		
		window.requestAnimationFrame(function(){
			transformElement(animated[0], -0.5*x,0.5*y);
			transformElement(animated[1], -x,y);
			transformElement(animated[2], 2*x,-y);
			transformElement(animated[3], 2*y, -0.8*x);
			transformElement(animated[4], x,0.5*y);
		});
	};
};
</script>
<div class="login-section">
	<div class="login-wrapper">
		<div class="login-inner">

			<h1 class="intro-h">The <span class="green">Spotify</span><br><span class="">Fan Destroyer</span></h1>
			<p class="intro-p">How big of a fan are you really? Connect with your Spotify account and test your fandom.</p>
			<button class="spotify">
				<svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon large">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M25.44 14.24C20.32 11.2 11.76 10.88 6.88 12.4C6.08001 12.64 5.28 12.16 5.04 11.44C4.8 10.64 5.28 9.84 6 9.6C11.68 7.92 21.04 8.24001 26.96 11.76C27.68 12.16 27.92 13.12 27.52 13.84C27.12 14.4 26.16 14.64 25.44 14.24ZM25.28 18.72C24.88 19.28 24.16 19.52 23.6 19.12C19.28 16.48 12.72 15.68 7.68 17.28C7.04 17.44 6.32 17.12 6.16 16.48C6 15.84 6.32 15.12 6.96 14.96C12.8 13.2 20 14.08 24.96 17.12C25.44 17.36 25.68 18.16 25.28 18.72ZM23.36 23.12C23.04 23.6 22.48 23.76 22 23.44C18.24 21.12 13.52 20.64 7.92 21.92C7.36 22.08 6.88 21.68 6.72 21.2C6.56 20.64 6.96 20.16 7.44 20C13.52 18.64 18.8 19.2 22.96 21.76C23.52 22 23.6 22.64 23.36 23.12ZM16 0C7.2 0 0 7.2 0 16C0 24.8 7.2 32 16 32C24.8 32 32 24.8 32 16C32 7.2 24.88 0 16 0Z" fill="#0D0D0D"/>
				</svg>			
				Login with Spotify
		</button> 
		<div class="emoji-wrapper">

			<span class="emoji">🤘</span>	
			<span class="emoji">🤔</span>	
			<span class="emoji">😎</span>	
			<span class="emoji ">😵</span>	
			<span class="emoji">😱</span>	
		</div>
		</div>
	</div>
</div>

<style>
	button.spotify{
		background: var(--spotify);
	}
	button.spotify:hover{
		background: #05BD51;
	}	
	.green {
		color: var(--spotify);
	}
	.login-section{
		display: block;
	}
	.login-wrapper{
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 98vh;
	}
	.login-inner{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.emoji-wrapper{
		position: absolute;
		width:90vw;
		max-width: 150%;
		height: 100%;
		pointer-events: none;
	}
	
	.emoji{
		position: absolute;
		display: none;
	}
	.emoji:nth-of-type(1){
		display: block;
		top:calc(clamp(2rem, 12vmin, 8rem) * -1);
		left: 50%;
		transform: translateX(-50%);
		font-size: clamp(2rem, 8vmin, 5rem);
	}
	.emoji:nth-of-type(2){
		top:10%;
		left: 95%;
		font-size: clamp(1rem, 6vmin, 4rem);
	}
	.emoji:nth-of-type(3){
		top: 7%;
		left: -2%;
		transform:rotate(-12deg);
		font-size: clamp(1rem, 5vmin, 4rem);
	}
	.emoji:nth-of-type(4){
		top:100%;
		left: 10%;
		transform:rotate(-10deg);
		font-size: clamp(2rem, 6vmin, 5rem);
	}
	.emoji:nth-of-type(5){
		top:100%;
		right: 20%;
		transform:rotate(15deg);
		font-size: clamp(1rem, 4vmin, 3rem);
		
	}
	
	
	@media (min-width: 768px){
		.emoji{
			display: block;
		}
	}
	
</style>
