---
export interface Props {
	title: string;
	href: string;
}

const { href, title, body } = Astro.props;
---
<script>
		//document.querySelector("button.spotify")?.addEventListener("click", authorize);
</script>
<div class="login-section">
	<h1>The Spotify Fan Destroyer</h1>
	<button class="spotify">Login with Spotify</button> 
</div>

<style>
	
</style>
