
<div class="modal-wrapper">
<div class="reset-modal">
	<h2>Start over?</h2>
	<p>
		You will lose your progress.
	</p>
	<div class="reset-button-wrapper">
		<button class="small close-modal-button">No, continue</button>
		<button class="small reset-button">Yes, stop the game</button>
	</div>
</div>

</div>

<style>
.modal-wrapper {
	display: none;
	width: calc(100vw - 2 * var(--side-padding));
	height: 100vh;
	align-items: center;
	justify-content: center;
	position: fixed;
	top:0;
	left:0;
	z-index: 2;
	background: rgba(0,0,0,0.5);
	backdrop-filter: blur(20px);
	padding: var(--side-padding);
	
}	

.reset-modal{
	border-radius: 1.25rem;
	background: var(--black);
	padding: 2rem;
	max-width: 100%;
	max-width: calc(100vw - 2 * var(--side-padding));

	/* display: flex;
	flex-direction: column;
	justify-content: center; */

}

button.close-modal-button {
	background: none;
	border: 2px solid var(--gray-dark);
	color: var(--white);

}
button.close-modal-button:hover {
	background: var(--black-hover);
}
.reset-button-wrapper{
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

@media (min-width: 768px){


}
</style>
