
<div class="result-section">
	<h1 class="message">You were right</h1>
	<div class="song-card">
		<img src="" class="song-cover" />
		<span class="song-title"></span>
	</div>
	<button class="next-button">Next round</button> 
</div>

<style>
.result-section {
	display: none;
}	
</style>
